[Unit]
Description=Anvil! Intelligent Availability Platform - Performance Monitor Daemon
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/anvil-monitor-performance
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
