[Unit]
Description=Anvil! Intelligent Availability Platform - main service daemon
Wants=network.target

[Service]
Type=simple
ExecStartPre=-/bin/sh -c "if [ -f /usr/sbin/akmods ]; then /usr/sbin/modprobe drbd || /usr/sbin/akmods --force; fi"
ExecStart=/usr/sbin/anvil-daemon
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
