[Unit]
Description=Anvil! Intelligent Availability Platform - ScanCore Decision Engine
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/scancore
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
