[Unit]
Description=ScanCore - Anvil! IA Suite
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/striker/scancore-daemon
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
