[Unit]
Description=Anvil! Intelligent Availability Platform - ScanCore Decision Engine
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/scancore
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
