[Unit]
Description=Anvil! Intelligent Availability Platform - Striker UI API
Wants=network.target

[Service]
Type=simple
User=root
Group=root
Environment=PORT=80
ExecStart=/usr/bin/node /usr/share/striker-ui-api/index.js
ExecStop=/bin/kill -TERM ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target

